.banner_part {
  background-image: url("../img/banner_new.png");
  background-size: 100vw;
}
.banner_part:after {
  background-color: #49d16b;
}

#logotitle {
  position: relative;
  color: aliceblue;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  border: 0;
  padding: 0;
  top: -60px;
  left: 102px;
}
.btn_1 {
  background: rgb(1, 161, 73);
  font-size: 22px;
}
.btn_1:hover {
  background: #00d089;
}
.main_menu .main-menu-item ul li .nav-link {
  font-size: 18px;
  color: aliceblue;
  font-weight: 600;
}
sf {
  color: rgb(187, 236, 9);
  font-weight: 700;
  text-shadow: rgb(4, 150, 12) 0.5px 1.67px 2px;
}
